.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1352px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 52px auto 0 -32px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1097px;
  width: 1203px;
  margin: 29px -31px 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-1 .u-group-1 {
  min-height: 838px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 28px;
}

.u-section-1 .u-line-1 {
  transform-origin: center top 0px;
  left: 337px;
  top: 83px;
  position: absolute;
  height: 708px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 77px auto 0 384px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -22px auto 0 118px;
}

.u-section-1 .u-line-2 {
  width: 704px;
  transform-origin: right center 0px;
  margin: 23px 55px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.75rem;
  background-image: none;
  font-weight: normal;
  margin: 252px auto 0 69px;
  padding: 2px 34px 3px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.75rem;
  background-image: none;
  margin: 3px auto 0 69px;
  padding: 2px 46px 4px;
}

.u-section-1 .u-image-1 {
  width: 163px;
  height: 163px;
  background-image: url("images/068a6cc7d66c1d0b37ead5e637714da93d549aacdc1b027ff12b44ce60c873705b8fc4062f7414e076b09851469bbc240f33b6deb743807bf2f761_12801.jpg");
  background-position: 50% 50%;
  margin: -280px auto 0 68px;
}

.u-section-1 .u-form-1 {
  height: 314px;
  margin: -162px 55px 0 384px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 3px 25px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: -134px auto 0 95px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 116px auto 0 384px;
}

.u-section-1 .u-line-3 {
  width: 704px;
  transform-origin: right center 0px;
  margin: 21px 55px 0 auto;
}

.u-section-1 .u-form-2 {
  height: 227px;
  margin: 29px 48px 0 391px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: normal;
  padding: 3px 25px;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-1 .u-table-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-block-200e-103 {
  background-image: none;
  font-weight: 700;
}

.u-block-200e-104 {
  border-style: dashed;
}

.u-block-200e-106 {
  border-style: dashed;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-2 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-3 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-4 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-5 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-weight: 700;
  border-style: dashed;
}

.u-section-1 .u-table-cell-7 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-8 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-9 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-10 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  font-weight: 700;
  border-style: dashed;
}

.u-section-1 .u-table-cell-12 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-13 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-14 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-15 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  font-weight: 700;
  border-style: dashed;
}

.u-section-1 .u-table-cell-17 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-18 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-19 {
  border-style: dashed;
}

.u-section-1 .u-table-cell-20 {
  border-style: dashed;
}

.u-block-200e-130 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-group-2 {
  min-height: 116px;
  width: 1064px;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-line-4 {
  height: 68px;
  left: auto;
  top: 23px;
  transform-origin: center top 0px;
  position: absolute;
  right: 344px;
  transform: rotate(360deg);
}

.u-section-1 .u-line-5 {
  height: 68px;
  left: 346px;
  top: 23px;
  transform-origin: center top 0px;
  position: absolute;
  transform: rotate(360deg);
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 781px 0 65px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -24px 0 0 425px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: -21px 95px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  margin: 6px 87px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: -37px auto 0 512px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  margin: -36px 781px 0 77px;
}

.u-section-1 .u-image-2 {
  width: 1062px;
  height: 395px;
  margin: 52px 70px 0;
}

.u-section-1 .u-image-3 {
  width: 1062px;
  height: 376px;
  margin: 16px 70px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    right: 210px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 400;
    margin-left: 296px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-1 .u-form-group-4 {
    height: 230px;
    margin: 0 0 0 218px;
  }

  .u-section-1 .u-btn-3 {
    padding-top: 2px;
    width: 20%;
  }

  .u-section-1 .u-text-5 {
    margin-left: 176px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-1 .u-btn-4 {
    width: 20%;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 719px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 452px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 719px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 349px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 940px;
    height: 332px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 222px;
  }

  .u-section-1 .u-line-2 {
    width: 660px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    width: 660px;
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 502px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 81px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 346px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 514px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 267px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 175px;
  }

  .u-section-1 .u-line-2 {
    width: 520px;
  }

  .u-section-1 .u-line-3 {
    width: 520px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 322px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 260px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 334px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 200px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 73px;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }

  .u-section-1 .u-line-3 {
    width: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 122px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 134px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 126px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 120px;
  }
}