.u-section-1 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-1 .u-text-1 {
  margin: 69px auto 0 382px;
}

.u-section-1 .u-icon-1 {
  color: rgb(237, 138, 25) !important;
  width: 18px;
  height: 22px;
}

.u-section-1 .u-group-1 {
  width: 324px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  min-height: 423px;
  margin: -19px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-1 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-image-1 {
  width: 114px;
  height: 114px;
  background-image: url("images/ken.jpg");
  background-position: 50% 50%;
  margin: -38px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-size: 1rem;
  margin: 5px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 20px;
  height: 20px;
  color: rgb(237, 138, 25) !important;
  margin: 6px auto 0 118px;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  color: rgb(237, 138, 25) !important;
  margin: -20px auto 0 69px;
}

.u-section-1 .u-icon-5 {
  width: 20px;
  height: 20px;
  color: rgb(237, 138, 25) !important;
  margin: -20px auto 0 94px;
}

.u-section-1 .u-icon-6 {
  width: 20px;
  height: 20px;
  color: rgb(237, 138, 25) !important;
  margin: -20px 137px 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 20px;
  height: 20px;
  color: rgb(237, 138, 25) !important;
  margin: -20px 111px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: -14px 29px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 0.75rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  color: rgb(71, 138, 201) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  margin: 12px 24px 0 auto;
  padding: 5px 40px 5px 39px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: -34px auto 0 24px;
  padding: 4px 16px 6px 15px;
}

.u-section-1 .u-line-1 {
  width: 254px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 11px auto 0 24px;
}

.u-section-1 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 700;
  margin: -22px 24px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  text-align: left;
  margin: 0 auto 0 24px;
}

.u-section-1 .u-icon-10 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 700;
  margin: -22px 24px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  text-align: left;
  margin: 7px auto 0 24px;
}

.u-section-1 .u-icon-11 {
  color: currentcolor !important;
}

.u-section-1 .u-group-2 {
  width: 758px;
  min-height: 370px;
  margin: -377px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-line-2 {
  margin-top: 5px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-image-2 {
  width: 51px;
  height: 51px;
  background-position: 50% 50%;
  margin: 18px auto 0 33px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: -42px auto 0 96px;
}

.u-section-1 .u-icon-12 {
  color: rgb(237, 138, 25) !important;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  text-align: left;
  margin: 0 auto 0 96px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  text-align: left;
  margin: 10px auto 0 96px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 39px 0 96px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: 23px auto 0 96px;
  padding: 0;
}

.u-section-1 .u-icon-13 {
  color: currentcolor !important;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 1rem;
  margin: -26px auto 0 186px;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 758px;
  min-height: 257px;
  margin: 7px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 51px;
  height: 51px;
  background-image: url("images/f65ac29fe0c525bfe7e7122f1c06885c3a2528869a61daa8aee4b395e13fad64f3d6a5ec09fb75995bb1cb78358032eb9196b54e32d342fb37c2f9_1280.jpg");
  background-position: 50% 50%;
  margin: 24px auto 0 33px;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: -42px auto 0 96px;
}

.u-section-1 .u-icon-15 {
  color: rgb(237, 138, 25) !important;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  text-align: left;
  margin: 0 auto 0 96px;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  text-align: left;
  margin: 10px auto 0 96px;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 39px 0 96px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  margin: 23px auto 0 96px;
  padding: 0;
}

.u-section-1 .u-icon-16 {
  color: currentcolor !important;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 1rem;
  margin: -26px auto 0 186px;
  padding: 0;
}

.u-section-1 .u-icon-17 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-line-4 {
  transform-origin: left center 0px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-group-4 {
  width: 758px;
  min-height: 257px;
  margin: 7px 0 60px auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-4 {
  width: 51px;
  height: 51px;
  background-image: url("images/ken.jpg");
  background-position: 50% 50%;
  margin: 24px auto 0 33px;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: -42px auto 0 96px;
}

.u-section-1 .u-icon-18 {
  color: rgb(237, 138, 25) !important;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  text-align: left;
  margin: 0 auto 0 96px;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  text-align: left;
  margin: 10px auto 0 96px;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 21px 39px 0 96px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  margin: 23px auto 0 96px;
  padding: 0;
}

.u-section-1 .u-icon-19 {
  color: currentcolor !important;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-size: 1rem;
  margin: -26px auto 0 186px;
  padding: 0;
}

.u-section-1 .u-icon-20 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-line-5 {
  transform-origin: left center 0px;
  margin-top: 33px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 315px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-13 {
    margin-right: 38px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-17 {
    margin-right: 38px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-21 {
    margin-right: 38px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 241px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 147px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 147px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 181px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 119px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 138px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 112px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 114px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }
}