.u-section-1 .u-sheet-1 {
  min-height: 2719px;
}

.u-section-1 .u-group-1 {
  width: 1002px;
  min-height: 454px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 57px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-1 .u-list-1 {
  width: 679px;
  margin: 19px auto 0 61px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-image-1 {
  width: 108px;
  height: 108px;
  background-image: url("images/dr1.PNG");
  background-position: 50% 50%;
  margin: 15px auto 0 46px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -98px 129px 0 auto;
  padding: 9px 34px 9px 32px;
}

.u-section-1 .u-text-1 {
  margin: -42px auto 0 171px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -21px 43px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 2px auto 0 171px;
}

.u-section-1 .u-text-3 {
  margin: 5px auto 0 171px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 40px 34px 0 109px;
}

.u-section-1 .u-group-2 {
  width: 1002px;
  min-height: 342px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 0 8px;
}

.u-section-1 .u-list-2 {
  width: 679px;
  margin: 1px auto 0 61px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 45px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -22px 279px 0 auto;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-map-1 {
  width: 501px;
  height: 200px;
  margin: 9px auto 0 45px;
}

.u-section-1 .u-text-8 {
  margin: -189px 55px 0 auto;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 132px 0 auto;
}

.u-section-1 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-3 {
  width: 1002px;
  min-height: 342px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 2px 0 8px;
}

.u-section-1 .u-list-3 {
  width: 679px;
  margin: 1px auto 0 61px;
}

.u-section-1 .u-repeater-3 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 279px 0 auto;
}

.u-section-1 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-map-2 {
  width: 501px;
  height: 200px;
  margin: -5px auto 0 45px;
}

.u-section-1 .u-text-12 {
  margin: -175px 55px 0 auto;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-9 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-11 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-12 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 132px 0 auto;
}

.u-section-1 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-4 {
  width: 1002px;
  min-height: 342px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 2px 0 8px;
}

.u-section-1 .u-list-4 {
  width: 679px;
  margin: 1px auto 0 61px;
}

.u-section-1 .u-repeater-4 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-15 {
  margin: 0 auto 0 45px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -22px 279px 0 auto;
}

.u-section-1 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-map-3 {
  width: 501px;
  height: 200px;
  margin: 9px auto 0 45px;
}

.u-section-1 .u-text-17 {
  margin: -189px 55px 0 auto;
}

.u-section-1 .u-list-icon-13 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-14 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-15 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-16 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-17 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-list-icon-18 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 132px 0 auto;
}

.u-section-1 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-group-5 {
  width: 1002px;
  min-height: 141px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-list-5 {
  width: 679px;
  margin: 3px auto 0 61px;
}

.u-section-1 .u-repeater-5 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  margin: 20px 810px 0 45px;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  margin: -28px auto 0;
}

.u-section-1 .u-group-6 {
  width: 1002px;
  min-height: 230px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-list-6 {
  width: 679px;
  margin: 3px auto 0 61px;
}

.u-section-1 .u-repeater-6 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: left;
  margin: 20px 864px 0 45px;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 700;
  margin: 3px auto 0 45px;
}

.u-section-1 .u-text-25 {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: left;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-text-26 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 700;
  margin: 3px auto 0 45px;
}

.u-section-1 .u-group-7 {
  width: 544px;
  min-height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 34px auto 0 69px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-list-7 {
  width: 679px;
  margin: 3px auto 0 61px;
}

.u-section-1 .u-repeater-7 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-28 {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: left;
  margin: 20px 283px 0 45px;
}

.u-section-1 .u-text-29 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 700;
  margin: 3px auto 0 45px;
}

.u-section-1 .u-text-30 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 700;
  margin: 9px auto 0 45px;
}

.u-section-1 .u-group-8 {
  width: 438px;
  min-height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -229px 69px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-list-8 {
  width: 679px;
  margin: 3px auto 0 61px;
}

.u-section-1 .u-repeater-8 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-32 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-text-33 {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 700;
  margin: 9px auto 0 45px;
}

.u-section-1 .u-group-9 {
  width: 1012px;
  min-height: 229px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto 60px;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-list-9 {
  width: 679px;
  margin: 3px auto 0 61px;
}

.u-section-1 .u-repeater-9 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 45px;
}

.u-section-1 .u-text-35 {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-text-36 {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-icon-12 {
  color: rgb(0, 127, 255) !important;
}

.u-section-1 .u-text-37 {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 700;
  margin: 20px auto 0 45px;
}

.u-section-1 .u-icon-14 {
  color: rgb(29, 161, 242) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 67px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none none solid;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 3px;
    margin-left: 78px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-group-3 {
    width: 940px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-group-4 {
    width: 940px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-group-5 {
    width: 940px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-text-20 {
    margin-right: 748px;
  }

  .u-section-1 .u-group-6 {
    width: 940px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-text-23 {
    margin-right: 802px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-list-7 {
    width: 544px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-list-8 {
    width: 438px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-8 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-group-9 {
    width: 940px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-repeater-9 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-list-2 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-7 {
    margin-right: 214px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-list-3 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-11 {
    margin-right: 214px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-list-4 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-16 {
    margin-right: 214px;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-list-5 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-20 {
    margin-right: 528px;
  }

  .u-section-1 .u-group-6 {
    width: 720px;
  }

  .u-section-1 .u-list-6 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-23 {
    margin-right: 582px;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-8 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-9 {
    width: 720px;
  }

  .u-section-1 .u-list-9 {
    margin-left: 41px;
  }

  .u-section-1 .u-repeater-9 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 161px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-list-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 161px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-list-4 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 161px;
  }

  .u-section-1 .u-map-3 {
    margin-left: 39px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-list-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 348px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-list-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 402px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-list-7 {
    width: 540px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 279px;
  }

  .u-section-1 .u-group-9 {
    width: 540px;
  }

  .u-section-1 .u-list-9 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 108px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 101px;
  }

  .u-section-1 .u-map-1 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 83px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 101px;
  }

  .u-section-1 .u-map-2 {
    width: 340px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 83px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-list-4 {
    width: 340px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 101px;
  }

  .u-section-1 .u-map-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 83px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-list-5 {
    width: 340px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 148px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-list-6 {
    width: 340px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 202px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-list-7 {
    width: 340px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 79px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-list-8 {
    width: 340px;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
  }

  .u-section-1 .u-list-9 {
    width: 340px;
  }
}